<div 
*ngIf="myRol != ClienteVista()" >



<div class="navprincipal">
    <app-sidebar></app-sidebar>
</div>
<div class="contenidoprincipal">
    <app-sidebarpanelhistorial></app-sidebarpanelhistorial>
    <div id="app">

        <div id="main" class="card-body text-center  animate__animated animate__fadeIn">
            <h6 class="firstH1">
                <b>
                    <!-- TITULOS DE CABECERA-->
                    <div class="Welcome" id="firstHeader">&bull;Publ</div>
                    <div class="to" id="firstHeader">ici</div>
                    <div class="the" id="firstHeader">dad&bull;</div>
                </b>
            </h6>

            <form action="" method="POST">

                <div style="background-color:#f4c284 ;" class="card-header">
                    <h5 class="card-title">Subir archivos</h5>
                </div>

                <p class="card-text">Agregue archivos para mostrar en la galeria de publicidad</p>
                <div id="historial" class="file-area">

                </div>
                <!-- SE SELECCIONA A QUE APARTADO SE DESEA SUBIR-->
                <div class="input-group mb-3  animate__animated animate__fadeIn">
                    <select class="form-select  animate__animated animate__fadeIn" id="inputGroupSelect08"
                        (change)="selectOption($event)" (click)="changeView4()">
                        <option value="0" selected hidden="">Elija el grupo de imagen</option>
                        <option value="Acta de Nacimiento">Nacimiento</option>
                        <option value="Acta de Matrimonio">Matrimonio</option>
                        <option value="Acta de Divorcio">Divorcio</option>
                        <option value="Acta de Defuncion">Defuncion</option>
                        <option value="Altas Curp">Altas Curp</option>
                        <option value="Correcion de Curp">Correcion de CURP</option>
                        <option value="Constancia de Situacion Fiscal">Constancia de situacion fiscal</option>
                        <option value="Constancia de Inhabilitación">Constancia de Inhabilitación</option>
                        <option value="Facturacion Electronica">Facturacion Electronica</option>

                    </select>
                </div>


                <div id="historial" class="file-area">

                    <!-- SOLTAR PDF -->
                    <div class="file-dummy  animate__animated animate__fadeIn" *ngIf="selectOpt!=0 ">
                        <div class="btn btn-default">
                            <input #file accept="application/jpg" type="file" flow-btn style="position: absolute;"
                                (change)="getFile($event)" (change)="preview56(file.files)">
                            <img [src]="imgURL" height="100%" width="100%" *ngIf="imgURL">
                            <span (change)="getFile($event)" style="color: #f4c284;" *ngIf="fileTmp==null">Arrastra tu
                                Imagen o da click
                                aqui para importarlo </span>

                            <span style="color: #333333; font-size: larger;">{{fileTmp?.fileName }}</span>

                            <!-- OPTIENE EL NOMBRE DEL PDF -->

                        </div>
                    </div>
                </div>

                <!-- <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                  
                -->


                <!-- STYLE DE DROP -->
                <style>
                    @-webkit-keyframes bounceright {
                        from {
                            -webkit-transform: translateX(0);
                        }

                        to {
                            -webkit-transform: translateX(3px);
                        }
                    }

                    @-webkit-keyframes wiggle {
                        from {
                            -webkit-transform: rotate(0deg);
                        }

                        to {
                            -webkit-transform: rotate(30deg);
                        }
                    }

                    @keyframes bounceright {
                        from {
                            transform: translateX(0);
                        }

                        to {
                            transform: translateX(3px);
                        }
                    }

                    @keyframes wiggle {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(30deg);
                        }
                    }

                    .file-area {
                        width: 100%;
                        position: relative;
                        font-size: 18px;
                        -webkit-animation: bounceright 0.3s alternate ease infinite;
                        animation: bounceright 0.3s alternate ease infinite;
                    }

                    .file-area input[type=file] {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 1;
                        cursor: pointer;


                    }

                    .file-area .file-dummy {
                        width: 100%;
                        padding: 50px 30px;
                        border: 2.8px dashed #7a7b7d;
                        background-color: #fff;
                        text-align: center;
                        transition: background 0.3s ease-in-out;

                    }

                    .file-area .file-dummy .success {
                        border-color: #77dd77;
                    }

                    .file-area:hover .file-dummy {
                        border: 3px dashed #77dd77;
                    }

                    .file-area input[type=file]:valid+.file-dummy {
                        border-color: #fdfd96;
                    }

                    .file-area input[type=file]:valid+.file-dummy .success {
                        border-color: #77dd77;
                    }

                    .file-area input[type=file]:valid+.file-dummy .default {
                        border-color: #77dd77;
                    }
                </style>
                <!-- FIN DE SOLTAR PDF -->
                <a (click)="addImg()" class="btn btn-success">Subir archivo</a>

                <!-- SE CARGAN LAS IMAGENES PARA SUBIRLAS-->
                <!-- 
                <a (click)="addImg()" class="btn btn-success" style="margin: 1rem;">Subir archivo</a> -->
            </form>

            <div class="container">

                <hr class="mt-2 mb-5">
                <section id="groups">
                    <div class="row">
                        <div class="col-lg-6 col-md-12" style="margin: 0 auto;">
                            <div class="card-content">
                                <div class="card-body"
                                    style="display: grid; align-items: center; justify-content: center;">
                                    <div class="list-group list-group-horizontal-sm mb-1 text-center" role="tablist">

                                        <a class="list-group-item list-group-item-action active" id="Nacimiento"
                                            data-bs-toggle="list" href="#list-sunday" role="tab" (click)="ver()"
                                            (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Acta de Nacimiento')">Nacimiento</a>

                                        <a class="list-group-item list-group-item-action" id="list-monday-list0"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Acta de Matrimonio')" data-bs-toggle="list"
                                            href="Matrimonio" role="tab">Matrimonio</a>

                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list11"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Acta de Divorcio')" data-bs-toggle="list"
                                            href="Divorcio" role="tab">Divorcio</a>

                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list22"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Acta de Defuncion')" data-bs-toggle="list"
                                            href="Defunción" role="tab">Defunción</a>

                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list1"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Altas curp')" data-bs-toggle="list"
                                            href="Altas Curp" role="tab">Altas Curp</a>

                                        <a class="list-group-item list-group-item-action" id="Correcion de Curp"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Correcion de curp')" data-bs-toggle="list"
                                            href="#list-nuevo" role="tab">Correcion de Curp</a>

                                        <a class="list-group-item list-group-item-action" id="Situacion fiscal"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Situacion fiscal')" data-bs-toggle="list"
                                            href="#list-nuevo" role="tab">Situacion fiscal</a>

                                        <a class="list-group-item list-group-item-action" id="Inhabilitación"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Inhabilitacion')" data-bs-toggle="list"
                                            href="#list-nuevo" role="tab">Inhabilitación</a>

                                        <a class="list-group-item list-group-item-action" id="Facturacion electronica"
                                            (click)="ver()" (click)="VerImagenes()"
                                            (click)="setTipoDeActa('Facturacion electronica')" data-bs-toggle="list"
                                            href="#list-nuevo" role="tab">Facturacion electronica</a>

                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list6"
                                            (click)="ver()" (click)="VerImagenes()" (click)="setTipoDeActa('General')"
                                            data-bs-toggle="list" href="General" role="tab">General </a>
                                    </div>

                                    <!-- <a (click)="ver()" (click)="VerImagenes()" class="btn btn-success" style="margin: 1rem;" >Ver imagenes</a> -->

                                    <div class="row" *ngIf="verImagenes">
                                        <h4 class="text-center animate__animated animate__bounceIn "> {{tipo }}</h4>
                                        <div class="card ads " *ngFor="let name of getnames">
                                            <img (click)="showImage(name.id, name.tipo)"  (click)="editimage()"
                                                src="https://actasalinstante.com:3030/api/ads/getImage/{{name.id}}"
                                                title="{{name.tipo}}">
                                        </div>
                                    </div>




                                    <div class="buttons"
                                        style="margin: 1rem; display: grid; align-items: center; justify-content: center; ">
                                        <!-- <a class="btn btn-success2">Descargar publicidad</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="card-group">



                        
<div class="page-wrap">
  <div class="controls">
    <!-- <input class="controls__input" type="file" id="imageLoader" name="imageLoader"/>
    <label class="controls__label" for="name">First, choose an image.</label>
     -->
    <input class="controls__input text-center " id="name" type="text" value=""/>
    <label class="controls__label text-center" for="name">Overlay Text</label>
    <div class="card ads " *ngFor="let names of getnames">
        <img (click)="showImages(names.id, names.tipo)"  (click)="editimage()"
            src="https://actasalinstante.com:3030/api/ads/getImage/{{names.id}}"
            title="{{names.tipo}}">
    </div>
  </div>
  <div id="canvas-wrap">
     <canvas   *ngFor="let names of getnames" style="display:block" id="imageCanvas" width=500px height=500px>
       
        
        <canvas  id="canvasID">   

            <img (click)="showImages(names.id, names.tipo)"  (click)="editimage()"
            src="https://actasalinstante.com:3030/api/ads/getImage/{{names.id}}"
            title="{{names.tipo}}">

        </canvas>
    </canvas> 
  </div>
  
</div>



                            <!-- <div class="col-lg-3 col-md-4 col-6" >
                                <a  data-lightbox="roadtrip"><img class="example-image"
                                       alt="image-3" height="400" width="300"></a>
                                <a class="btn btn-danger"
                                   >Eliminar</a>
                                   eliminar usuaio de las imagenes
                            </div> -->
                        </div>
                    </div>
                </section>
            </div>






        </div>
    </div>
</div>



</div>

