<div class="All">

    <div class="card" style="width: 50rem; position: fixed; top: 64%; left: 50%;  transform: translate(-50%, -50%);">
        <div class="card-body text-center">
            <div class="card-text myText"> TU SESIÓN HA FINALIZADO, VUELVA A INICIAR SESIÓN</div>
            <div class="card-text myText"> REDIRIGIENDO AUTOMATICAMENTE EN {{timeLeft}} SEG</div>
            <br>
            <button class="btn btn-danger" style="width: 20rem;" (click)="goToHome()">OK</button>
    
        </div>
    </div>
    
    
    <div class="main">
        <div title="404">
            401
        </div>
    </div>
    
    
    <div class="mask">

    </div>
    
    
    


</div>
