<div class="card" style="width: 50rem;">
    <div class="card-header text-center">
        <h5> SELECCIONA LA FORMA DEL ACTA </h5>
    </div>
    <div class="card-body text-center">

        <div class="row text-center">

            <div class="card selectionable" style="width: 30%; margin-right: 1rem; margin-left: 1rem;">
                <img src="assets/options/1.png" alt="Normal">
                <div class="card-footer">
                    <span> Simple </span>
                </div>
            </div>

            <div class="card selectionable" style="width: 30%; margin-right: 1rem;">
                <img src="assets/options/2.png" alt="Reversado">
                <div class="card-footer">
                    <span> Con Reverso </span>
                </div>
            </div>
            <div class="card selectionable" style="width: 30%; margin-right: 1rem;">
                <img src="assets/options/3.png" alt="Foliado">
                <div class="card-footer">
                    <span> Con Reverso y Folio </span>
                </div>
            </div>


        </div>


    </div>

    <div class="buttonsGroup">
        <div class="row text-center" >
            <div class="col">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
        
        
    </div>

</div>