<div class="myCard animate__animated animate__fadeInUp">

    <div class="myTitle">
        <label for="myTitle">RFC</label>
    </div>

    <div class="myBody space">
        <div class="mySubCard" style="background-color: rgb(1, 8, 31);  color: white !important;">
            <div class="mySubTitle">
                <label for="mySubTitle">Solicitudes</label>
            </div>

            <div class="myContainer">
                <div class="myLegend">
                    Para revisar o descargar tus solicitudes enviadas, da click en el bóton.
                </div>

                <div class="myButt">
                    <div class="myButtonOn" (click)="switcheableView(1)">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <fa-icon [icon]="faBook"></fa-icon> Ver
                    </div>
                </div>
            </div>
        </div>
        <div class="mySubCard" style="background-color: rgb(1, 8, 31);  color: white !important;">
            <div class="mySubTitle">
                <label for="mySubTitle">Nuevo</label>
            </div>
            <div class="myContainer">
                <div class="myLegend">
                    Para solicitar un RFC de persona moral o física, da click en el bóton.
                </div>

                <div class="myButt">
                    <div class="myButtonOn" (click)="switcheableView(2)">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <fa-icon [icon]="faFileCirclePlus"></fa-icon> NUEVO
                    </div>
                </div>

            </div>
        </div>
    </div>











    <div [ngSwitch]="view">
        <div *ngSwitchCase=1>
            <div class="myBody" *ngIf="view == 1">
                <div class="mySubCard" style="background-color:  #494848;width: 100%;">
                    <div class="mySubTitle">
                        <label for="mySubTitle">FILTROS</label>
                    </div>

                    <div class="filters" style="margin-top: 1rem;">

                        <div class="filter" style="width: 50rem;">
                            <h6 class="text-center" style="color: white;"> BUSCADOR </h6>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="BUSCAR POR DATOS PROPORCIONADOS"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2">
                                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                                </span>
                            </div>
                        </div>

                        <div class="filter" style="width: 30rem;">
                            <div class="dropdown text-center">
                                <h6 class="text-center" style="color: white;"> SELECCIONAR CORTE </h6>
                                <a class="btn btn-secondary dropdown-toggle" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{ dateSelect || "Actual" }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark corte" aria-labelledby="dropdownMenuButton2">
                                    <li>
                                        <a *ngFor="let date of dates" (click)="selectDate(date.corte)"
                                            class="dropdown-item" style="cursor: pointer;">
                                            {{ date.corte || "Actual" }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="myContentFlex">
                <div *ngFor="let req of rfcs" class="viewCard">
                <span class="position-absolute top-45 start-90 translate-middle badge rounded-pill bg-primary"
                    style="z-index: 2;">
                    {{ req.nm }}
                </span>

                <div *ngIf="req.downloaded != true && req.url != null && req.comments == 'Enviado'"
                    style="position: absolute; z-index: 2; margin-left: 12%; ">
                    <div style="width: 3rem; height: 3rem; position: relative; text-align: center;">
                        <label
                            style=" font-family: inherit; color: white; z-index: 1; display: flex; align-self: center; position: absolute; margin-top: 35%; margin-left: 20%;">Nuevo</label>
                        <fa-icon class="fa-4x" [icon]="faCertificate"
                            style="color: #0E6FFD !important; display: flex; align-self: center;"></fa-icon>
                    </div>
                </div>



                <div class="Card" style="margin-bottom: 1rem;">
                    <div class="Card-head">
                        <div class="Card-cover"
                        style="background-image: url(../../../assets/documents/rfc.png);"></div>
                    </div>
                    <div class="Card-main">
                        <h1 class="Card-titleContent" >REGISTRO FEDERAL <br> DE CONTRIBUYENTES </h1>
                        <h2 class="Card-subTitleContent">{{ req.type }} - {{ req.createdAt | date:'dd/MM/yyyy' }} {{
                            req.createdAt | date: 'h:mm a' }} </h2>
                        <div class="Card-genre"> DATOS </div>
                        <p class="Card-desc">{{ req.metadata }}</p>

                        <label class="Card-filename" style="margin-top: 1rem;">{{ req.url || "Sin archivo" }}</label>
                        <div class="row" style="margin-top: 0.5em;">
                            <a class="btn btn-success" (click)="DownloadActa(req.id, req.url)"
                            *ngIf="req.url != null && req.comments == 'Descargado' && req.downloaded != true">
                            <fa-icon [icon]="faFileArrowDown"></fa-icon>
                            &nbsp;Descargar
                        </a>
    
                        <a class="btn btn-secondary" (click)="DownloadActa(req.id, req.url)"
                            *ngIf="req.url != null && req.comments == 'Descargado' && req.downloaded == true">
                            <fa-icon [icon]="faCheckToSlot"></fa-icon>
                            &nbsp;Descargado
                        </a>
    
                        <a class="btn btn-danger"
                            *ngIf="req.comments != 'Descargado' && req.comments != null && req.comments != '' ">
                            <fa-icon [icon]="faCircleXmark"></fa-icon>
                            &nbsp;Detalles
                        </a>
                        <a class="btn btn-warning"
                            *ngIf="req.comments == null && req.url == null || req.comments == 'Descargado' && req.url == null || req.comments == '' && req.url == null ">
                            <fa-icon [icon]="faRotate"></fa-icon>
                            &nbsp;En proceso
                        </a>
    
    
    
                        </div>

                        <div
                            *ngIf="myRol == 'Supervisor'  && req.url != null && req.comments == 'Enviado' || id == '1500'  && req.url != null && req.comments == 'Enviado' || id == '1585'  && req.url != null && req.comments == 'Enviado'  || myRol == 'Admin' && req.url != null && req.comments == 'Enviado'">
                            <div *ngIf="req.idtranspose == null"  class="row"
                                style="margin-top: 0.5em;">
                                <a class="btn btn-primary">
                                    <fa-icon [icon]="faPeopleArrowsLeftRight"></fa-icon>
                                    &nbsp;Re-Asignar Acta
                                </a>
                            </div>


                            <div *ngIf="req.idtranspose != null" class="row"
                                style="margin-top: 0.5em;">
                                <a class="btn btn-secondary">
                                    <fa-icon [icon]="faPeopleArrowsLeftRight"></fa-icon>
                                    &nbsp;Acta Asignada
                                </a>
                            </div>
                        </div>







                    </div>
                </div>
            </div>
            </div>
        </div>
        <div *ngSwitchCase="2" class="reqView animate__animated animate__fadeInUp">
            <div class="reqCard">
                <div class="headerCard">
                    NUEVA SOLICITUD
                </div>
                <div class="grupReq" style="margin-top: 1rem;">
                    <div class="containerReq">
                        <select class="form-select myInputReq" aria-label="Default select example" [(ngModel)]="Persona"
                        (ngModelChange)="SelectPersona($event)" name="Persona">
                        <option disabled selected>PERSONA</option>
                        <option value="FISICA">FISICA</option>
                        <option value="MORAL">MORAL</option>
                    </select>


                        <select class="form-select myInputReq" aria-label="Default select example"
                            [(ngModel)]="MetodoBusqueda" (ngModelChange)="SelectMetodoBusqueda($event)"
                            name="MetodoBusqueda" disabled>
                                <option disabled selected>MÉTODO DE BUSQUEDA</option>
                                <option value="CURP" *ngIf="Persona == 'FISICA'">CURP</option>
                                <option value="RFC">RFC</option>
                        </select>

                    </div>
                    <div [ngSwitch]="MetodoBusqueda" *ngIf="Persona == 'FISICA'">
                        <div *ngSwitchCase="'CURP'">
                            <div class="input-group" style="margin-top: 1rem;" >
                                <span class="input-group-text">CURP</span>
                                <input type="text" style="text-transform: uppercase;" class="form-control"
                                    [(ngModel)]="DatoEnviar" name="DatoEnviar" maxlength="18"
                                    (ngModelChange)="KeyupData()"
                                    onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                                <span class="input-group-text" style="user-select: none !important;" id="alertState">
                                    {{ Estado }}
                                </span>
                            </div>

                        </div>
                        <div *ngSwitchCase="'RFC'">
                            <div class="input-group" style="margin-top: 1rem;">
                                <span class="input-group-text">RFC</span>
                                <input type="text" style="text-transform: uppercase;" class="form-control"
                                    [(ngModel)]="DatoEnviar" name="DatoEnviar" maxlength="13"
                                    (ngModelChange)="KeyupData()"
                                    onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                                <span class="input-group-text" style="user-select: none !important;" id="alertState">
                                    {{ Estado }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div [ngSwitch]="MetodoBusqueda" *ngIf="Persona == 'MORAL'">
                        <div *ngSwitchCase="'RFC'">
                            <div class="input-group" style="margin-top: 1rem;">
                                <span class="input-group-text">RFC</span>
                                <input type="text" style="text-transform: uppercase;" class="form-control"
                                    [(ngModel)]="DatoEnviar" name="DatoEnviar" maxlength="12"
                                    (ngModelChange)="KeyupData()"
                                    onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))">
                                <span class="input-group-text" style="user-select: none !important;" id="alertState">
                                    {{ Estado }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="myButtonOff" id="solicitarReq" (click)="Send()">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <fa-icon [icon]="faPaperPlane"></fa-icon> SOLICITAR
                        <!-- <fa-icon [icon]="faMagnifyingGlass"></fa-icon> BUSCAR ACTA -->
                    </div>
                </div>
            </div>
        </div>

    </div>





</div>