<!-- SIDEBAR EN LA CLASE SIDERBARCOMPONENTE -->




<div class="navprincipal">
  <app-sidebar></app-sidebar>
</div>




<div class="contenidoprincipal  animate__animated animate__fadeIn">
  <app-sidebarpanelhistorial></app-sidebarpanelhistorial>
  <nav aria-label="breadcrumb" style="background-color: rgb(231, 234, 237); padding-top: 0.2rem; border-radius: 5px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngIf="vista"><a style="cursor: pointer;" (click)="changeView()">Subir Documento</a>
      </li>
      <li class="breadcrumb-item" *ngIf="!vista"><a style="color: #efb810;">Subir Documento</a></li>
      <li class="breadcrumb-item" *ngIf="!vista"><a style="cursor: pointer;" (click)="changeView()">Historial de
          Registros</a></li>
      <li class="breadcrumb-item" *ngIf="vista"><a style="color: #efb810;">Historial de Registros</a></li>
    </ol>
  </nav>


  <div id="historial" class=" animate__animated animate__fadeIn align-items-center" *ngIf="preview==0 && !vista">
    <div class="row text-center">
      <h1>
        <b>
          <div class="animate__animated animate__fadeInDown">&bull; DOCUMENTOS &bull;</div>
        </b>
      </h1>

    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="form-group areaFile">
        <input #file type="file" name="pdfs" id="pdfs" required="required" accept="application/pdf"
          (change)="getFile($event)" (change)="preview56(file.files)">
        <div class="dummy">
          <span class="success" style="font-weight: bold;">{{ fileTmp?.fileName }}</span>
          <span (change)="getFile($event)" *ngIf="fileTmp==null || fileTmp.fileName == undefined"
            style="font-style: italic;">Arrastra tu Documento o da
            click aqui para importarlo</span>
        </div>
      </div>
    </div>
    <div class="row align-items-center text-center" style="margin-top: 2rem;">
      <div class="col file-area">

        <button *ngIf="fileTmp == null || fileTmp.fileName == undefined"
          class="disabledMyStyle btn btn-success animate__animated animate__fadeIn myButtonStyle"
          style="padding: 1rem; width: 10rem;" disabled>ENVIAR</button>

        <button *ngIf="fileTmp != null && fileTmp.fileName != undefined" [ngModel]="tipodebusqueda"
          (ngModelChange)="onChange($event)" class="btn btn-success animate__animated animate__fadeIn myButtonStyle"
          (click)="sendFile()" style="padding: 1rem; width: 10rem;">ENVIAR</button>

      </div>
      <div class="col file-area">

        <button type="button" class="btn btn-success myButtonStyle" (click)="Volver()"
          style="padding: 1rem; width: 10rem;">CARGA
          MANUAL</button>


      </div>
    </div>
  </div>

  <!-- STYLE DE DROP -->

  <!-- STYLE DE DROP -->

















  <style>
    @-webkit-keyframes bounceright {
      from {
        -webkit-transform: translateX(0);
      }

      to {
        -webkit-transform: translateX(3px);
      }
    }

    @-webkit-keyframes wiggle {
      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(30deg);
      }
    }

    @keyframes bounceright {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(3px);
      }
    }

    @keyframes wiggle {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(30deg);
      }
    }

    .file-area {
      width: 100%;
      position: relative;
      font-size: 18px;
      -webkit-animation: bounceright 0.3s alternate ease infinite;
      animation: bounceright 0.3s alternate ease infinite;
    }

    .file-area input[type=file] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      cursor: pointer;


    }

    .file-area .file-dummy {
      width: 100%;
      padding: 50px 30px;
      border: 2.8px dashed #7a7b7d;
      background-color: #fff;
      text-align: center;
      transition: background 0.3s ease-in-out;

    }

    .file-area .file-dummy .success {
      border-color: #77dd77;
    }

    .file-area:hover .file-dummy {
      border: 3px dashed #77dd77;
    }

    .file-area input[type=file]:valid+.file-dummy {
      border-color: #fdfd96;
    }

    .file-area input[type=file]:valid+.file-dummy .success {
      border-color: #77dd77;
    }

    .file-area input[type=file]:valid+.file-dummy .default {
      border-color: #77dd77;
    }
  </style>

  <div *ngIf="preview!=0 && !vista" class="animate__animated animate__bounceIn" id="container">

    <div class="card">
      <div class="card card-header" style="background-color: #272727; color: #fff;">
        <h5>CIBERS</h5>
      </div>

      <div class="card card-footer">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="valorabuscarActa" name="valorabuscarActa"
            placeholder="Busca el ciber a asignar" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">BUSCAR</span>
        </div>


        <ul class="list-group" *ngIf="valorabuscarActa.length > 0" style="max-height: 20rem; overflow-y: scroll;">
          <li class="list-group-item active" aria-current="true">Resultados</li>
          <li *ngFor="let user of allUsers | buscarciber: valorabuscarActa" class="list-group-item itemHoverMyStyle"
            style="cursor: pointer;" (click)="clickciber(user.id, user.nombre)">{{ user.nombre }} - {{ user.rol }}</li>
        </ul>
      </div>




    </div>

    <div class="card">
      <div class="card card-header text-center" style="background-color: #272727; color: #fff;">
        <h5>RESUMEN</h5>
      </div>

      <div class="card card-body">
        <div class="row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Tipo de documento</h5>
                  <li class="list-group-item">{{ info?.tipo }}</li>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Curp</h5>
                  <li class="list-group-item">{{ info?.curp }}</li>
                  <!-- <label class="form-label" for="form1">Search para buscar curp por nombre </label> -->
                </div>
              </div>
            </div>
          </div>
          <!-- Tipo de ESTADO -->
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Estado</h5>
                  <li class="list-group-item">{{ info?.estado }}</li>

                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="card h-100">

              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Nombre</h5>
                  <li class="list-group-item">{{ info?.nombre }}</li>

                </div>
              </div>
            </div>
          </div>
          <!-- Tipo de APELIIDOS -->
          <div class="col" *ngIf="info?.apellidos != null">
            <div class="card h-100">
              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Apellidos</h5>
                  <li class="list-group-item">{{ info?.apellidos }}</li>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Asesor</h5>
                  <li class="list-group-item">{{nombreasesor}}</li>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <div class="form-outline">
                  <h5 style="color: #efb810; font-size: medium;" class="card-title">Nombre de archivo</h5>
                  <li class="list-group-item">{{fileTmp.fileName}}</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row text-center">
          <div class="col">
            <button class="btn btn-success myButtonStyle" style="padding: 1rem; width: 10rem;"
              *ngIf="nombreasesor.length > 0" (click)="enviaracta()">Enviar</button>
          </div>
          <div class="col">
            <button class="btn btn-success myButtonStyle" style="padding: 1rem; width: 10rem;"
              (click)="Volver2()">Regresar</button>
          </div>
        </div>
      </div>
    </div>





  </div>



  <!-- USERS LIST -->


  <div *ngIf="vista" class="animate__animated animate__fadeIn" style="margin-top: 1em;">




    <div class="card" style="height: 10rem;">
      <div class="card-header text-center" style="background-color: #272727; color: #fff;">
        <h5> CONTROLES </h5>
      </div>
      <div class="card-body" style="background-color: #e7e7e7;">

        <div class="row">
          <div class="col col-sm-2" style="border-right: 1px solid black;">
            <span style="vertical-align: middle;">Fecha de corte: </span>
            <div class="dropdown align-middle" style="margin-top: 0.5em;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ dateSelect || "Actual" }}
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li>
                  <a *ngFor="let date of dates" class="dropdown-item" style="cursor: pointer;"
                    (click)="SelectDate(date.corte)">
                    {{ date.corte || "Actual" }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="row" *ngIf="select != undefined" style="border-bottom: 2px solid black;">
              <span>
                <label for="selection" style="font-style: oblique; color: rgb(138, 138, 138);">Selección ({{
                  select.length }}):&nbsp;</label>
                <label for="selection" style="font-weight: 700;">
                  {{SelectedRowLegend}}
                </label>
                <!-- <label *ngFor="let selecting of select; let i = index" for="selection" style="font-weight: 700;">
                      {{selecting.id}}<label *ngIf="select.length > 1 && i < select.length-1">,&nbsp;</label> 
                  </label> -->
              </span>
            </div>
            <div class="row" *ngIf="select != undefined" style="margin-top: 0.5rem;">
              <div class="col text-center">
                <button type="button" class="btn btn-primary" (click)="AlertReasign()">
                  <fa-icon [icon]="faPeopleArrowsLeftRight"></fa-icon>&nbsp;Re-Asignar
                </button>
              </div>
              <div class="col text-center">
                <button type="button" class="btn btn-primary">
                  <fa-icon [icon]="faCalendarPlus"></fa-icon>&nbsp;Modificar Fecha
                </button>

                <div class="alert alert-primary" *ngIf="editDate && select != undefined" role="alert"
                  style="z-index: 2;">
                  <div class="input-group mb-3" style="margin-top: 1rem; ">
                    <input type="date" class="form-control" placeholder="Recipient's username"
                      aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="newDateToChange"
                      name="newDateToChange">
                    <button class="input-group-text btn btn-primary" type="button" id="basic-addon2"
                      (click)="ChangeNewDate()" *ngIf="newDateToChange != undefined">
                      <fa-icon [icon]="faCircleCheck"></fa-icon>
                    </button>
                    <button class="input-group-text btn btn-primary" type="button" id="basic-addon2"
                      (click)="ClearNewDate()">
                      <fa-icon [icon]="faEraser"></fa-icon>
                    </button>
                  </div>
                </div>

              </div>
              <div class="col text-center">
                <button type="button" class="btn btn-primary" (click)="DeleteRegister()">
                  <fa-icon [icon]="faTrashCan"></fa-icon>&nbsp;Eliminar
                </button>
              </div>
            </div>
            <div class="row text-center" *ngIf="select == undefined">
              <label style="font-size: 1.5rem;font-weight: 700;">SELECCIONA UN REGISTRO PARA PODER EDITARLO</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ag-grid-angular style="height: 30rem;" class="ag-theme-alpine" #agGrid [pagination]="true" [rowData]="rowData"
      rowSelection="multiple" [defaultColDef]="defaultColDef" [defaultColGroupDef]="defaultColGroupDef"
      [animateRows]="true" [columnHoverHighlight]="true" [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)" [overlayLoadingTemplate]="overlayLoadingTemplate"
      [sortingOrder]="sortingOrder" (gridReady)="onGridReady($event)" (filterChanged)="onFilterChanged($event)"
      [columnDefs]="columnDefs">
    </ag-grid-angular>

  </div>

  <button class="conteo4" *ngIf="vista && myRol == 'Admin'" (click)="changeView5()">Papelera</button>

</div>




<div *ngIf="showAlertReasign" class="animate__animated animate__fadeIn"
  style="width: 100%; height: 100%;  z-index: 5000;  background-color: #2121217a; position: fixed; top: 0px;">
  <div class="card"
    style="width: 50%; margin: auto; margin-top: 15%; position: sticky !important; top: 10px !important;">
    <div class="card-header" style="background-color: #478edf;">

      <div class="row">
        <div class="col">
          <div style="color: white; margin-left: 10rem; text-align: center;">
            Re-Asignar Acta
          </div>


        </div>

        <div class="col-2" style="text-align: right;">
          <a class="btn btn-danger" (click)="AlertReasign()">
            Cerrar
          </a>
        </div>
      </div>






    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="valorabuscartranspose" name="valorabuscartranspose"
          placeholder="Nuevo Ciber">
      </div>

      <div *ngIf="valorabuscartranspose.length > 0 " style=" overflow: hidden; overflow-y: scroll; max-height: 30rem;">
        <li class="list-group-item active" aria-current="true">Resultados:</li>
        <li *ngFor="let user of allUsers | buscarciber: valorabuscartranspose" class="list-group-item"
          style="cursor: pointer;" (click)="TransposeRegister(user.id)">{{ user.nombre }} - {{ user.rol }}</li>
      </div>

    </div>

  </div>
</div>