.myCard {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}


.myCard::-webkit-scrollbar {
    width: 0.8rem;
}


.myCard::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(31, 29, 29, 1) 0%, rgba(75, 75, 75, 1) 100%);
    border-radius: 1rem;
}

.myCard::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.myCard::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(61deg, rgba(128, 133, 133, 1) 0%, rgb(88, 88, 87) 100%);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.myCard::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 1rem;
}

.myCard::-webkit-scrollbar-track:hover,
.myCard::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}


.myHeader{
    padding: 1rem;
    margin: 1rem;
    background-color: #1b1b1b;
    color: white;
}

.myHeader p{
    font-weight: 700;
    font-size: 1.5rem;
}

.myControllers{
    display: flex;
    flex-wrap: wrap;
}


.mySubcard{

    color: rgb(20, 20, 20);
    overflow: hidden;
    flex-direction: column;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    margin: 1rem;
    padding: 0.3rem;
    width: 15rem;
    max-height: 30rem;
    background-color: rgb(255, 255, 255);

}



.myTitle{
    color: #141414;
    font-weight: 700;
    letter-spacing: 0.1em;
}


.myDetails{
    color: #3f3d3d;
}

.myIcon{
    flex-direction: row;
    width: 5rem;
    height: 5rem;
}

.myOptions{
    width: 100%;
    text-align: center;
}

.myOptions button{
    margin: 0.3rem;
}
.myButtonList:hover{
    background-color: #d3d1d1;
}
.captcha{
    margin: 0.5rem;
    user-select: none;
}

.onWarning{
    border: 3px solid rgb(154, 163, 68);
    box-shadow: 0 0 10px rgb(203, 212, 120);
}

.onSuccess{
    border: 3px solid rgb(38, 39, 38);
    box-shadow: 0 0 10px rgb(63, 65, 64);
}

.onDanger{
    border: 3px solid rgb(121, 52, 52);
    box-shadow: 0 0 10px rgb(212, 120, 120);
}


.myButtonOn {
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 10px 20px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(21,115,71,1) 0%, rgba(21,115,71,1) 50%, rgba(29,126,81,1) 51%, rgba(21,115,71,1) 100%);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 1rem;
    letter-spacing: 4px;
    /* background-color: rgb(12, 105, 130); */
}

.myButtonOn:hover {
    background: linear-gradient(0deg, rgba(31, 29, 29, 1) 0%, rgba(75, 75, 75, 1) 100%) !important;
    color: #fff;
    box-shadow: 0 0 10px #ffffff;
}

.myButtonOn span, .myButtonCancel span {
    position: absolute;
    display: block;
}

.myButtonOn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim1 1s linear infinite;
}


.myInstruction{
    width: 100%;
    user-select: none;
    background-color: aqua;
}

.myInstruction :hover{
    background-color: #cfcfcf;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}


.myButtonOn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}


.myButtonOn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.myButtonOn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/*Modals*/
.modalInput{
    position:absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: rgba(27, 27, 27, 0.342);
    z-index: 3;
}

.modalInput .card{
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card-header{
    background-color: rgb(33, 109, 224);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}