
<div class="img-fluid">  



    <div class="window">
        <div class="slider">
            <img src="../../../assets/images/NACIMIENTO.jpg" alt="" class="image">
            <img src="../../../assets/images/DEFUNCION.jpg" alt="" class="image">
            <img src="../../../assets/images/MATRIMONIO.jpg" alt="" class="image">
            <img src="../../../assets/images/DIVORCIO.jpg" alt="" class="image">
            <img src="../../../assets/images/RFC.jpg" alt="" class="image">
            <img src="../../../assets/images/curp.jpg" alt="" class="image">
   
        </div>
    </div>




</div>