<!-- 
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"



	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="body">
	<div id="int-form">
		<form>
			<div class="login">
				<h1 class="head-title">Ingresar</h1>
				<div class="uid">
					<input [(ngModel)]="usuario" id="usuario" type="text" id="username" placeholder="Usuario"
						name="username">
				</div>
				<div class="pwd">
					<input type="password" id="password" [(ngModel)]="contrasena" id="password" placeholder="Contraseña"
						name="password">
				</div>
				<button (click)="inicio()">Iniciar sesión</button>
			</div>
		</form>
	</div>

	<img src="assets/images/login/FONDOSISTEMA.png" alt="" class="imgBack">



</div> -->

<!-- 

<style type="text/css">
	.site-link {
		padding: 5px 15px;
		position: fixed;
		z-index: 99999;
		background: #fff;
		box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
		right: 30px;
		bottom: 30px;
		border-radius: 10px;
	}

	.site-link a {
		text-decoration: none;
		color: #0af !important;
		display: inline-block;
	}

	.site-link img {
		width: 30px;
		height: 30px;
	}
</style> -->

<div
  class="animate__animated animate__fadeIn imgContainer"
  style="width: 100%; height: 100%; position: fixed; top: 0px"
>
  <div
    style="
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.26);
      position: fixed;
      top: 0px;
    "
  ></div>

  <div class="fondo" style="z-index: -20000"></div>

  <form style="z-index: 9">
    <h3>INGRESAR</h3>

    <input
      [(ngModel)]="usuario"
      name="usuario"
      type="text"
      placeholder="Usuario"
      id="username"
      style="margin-top: 50px"
    />
    <input
      [(ngModel)]="contrasena"
      name="contrasena"
      type="password"
      placeholder="Contraseña"
      id="password"
      style="margin-top: 50px"
    />

    <button (click)="inicio()">Iniciar Sesión</button>
    <!-- <button (click)="reg()">Registro</button>  -->
  </form>
</div>
