
/* TIPO DE LETRA */

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 20%;
}
.BtnRectangule{
  height: 45px;
  line-height: 29px;
  width: 30%;
  background: #191a19;
  transition: all .25s;
  border: none;
  border: solid 3px #303030;
  color: #ffffff;
  font-size: 15px;
  margin: 15px auto !important;
  display: block;
color: #ffffff !important;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  
}
.BtnRectangule:focus{
  outline: none;
}
.BtnRectangule:hover{
  background: transparent;
  color: #303030 !important;
  width: 35%;
  box-shadow: none;
}

#pharaph{
	white-space: pre-line;
}
.myHeaders{
	position: sticky;
	top: 0px;
}

.selectionable:hover {
    cursor: pointer;
    outline: thick solid rgba(45, 209, 224, 0.226);;
}


.buttonsGroup {
    /* margin-left: auto; */
    background-color: white;
    width: 50%;
    align-self: center !important;
    margin-bottom: 1rem;
}
.imagesSelectable {
	display: block; 
	width: 100vw; 
	object-fit: cover;
}



/* My Cards Requests Style*/
.Card{

  max-width: 340px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  outline: 4px solid rgba(94, 94, 94, 0.171);
}


.Card:hover{
  box-shadow: 0 0 0 8px rgba(0, 132, 255, 0.363);
}

.Card-head {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;

}

.Card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 220px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
  transform: scale(1.2);
  transition: 0.5s;
}

.Card-filename{
  text-align: center;
  line-height: 1.6;
  color: #636b6f;
  font-size: 13px;
  margin-left: 1rem;
  font-weight: 400;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0.7;

}

.Card-main {
  background-color: #fff;
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.Card-genre {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.Card-titleContent {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
  white-space: nowrap;
}

.Card-subTitleContent {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 8px;
  text-align: center;
  white-space: nowrap;
}

.Card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin-left: 1rem;
  line-height: 1.6;
  color: #636b6f;
  font-size: 13px;
  margin-left: 1rem;
  font-weight: 400;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  white-space: pre-line;
}


 /* */


.buttonDwnl{
	width: 20rem;
	margin-left: 28%;
	background-color: #43b956;
	border-radius: 20rem;
	cursor: pointer;
}

.tableScroll{

	height: 8rem;
	overflow: hidden;
	overflow-y: auto;
}

.buttonDwnl:hover{
	background-color: #ffffff;
	color: #212121;
}

.contenidoprincipal{
	width: 67%;
	padding-left: 25px;
  }
  .navprincipal{
	width: 30%;
	z-index: 1000;
  }
  .navprincipal, .contenidoprincipal{
	display: inline-block;
	vertical-align: text-top;
  }

  @media screen and (min-width: 1500px) and (max-width: 5000px) { 
	.navprincipal{
	  width: 5%;
	  height: 100vh;
	  height: 100%;
	  position: relative;
	  background-color: black;
	}
	.contenidoprincipal{
	  width: 92%;
	  /* background-color: blue; */
	}
  }
  @media screen and (min-width: 700px) and (max-width: 1500px) { 
	.oculto{
		display: none;
	}
	.letras{
		font-size: 13px;
	}
	.navprincipal:hover{
		position:sticky;
		z-index:3000;
	}
	.contenidoprincipal{
		width: 90%;
		margin-left: 5em;

		/* background-color: rgb(0, 255, 68); 
		.coulto{
			margin_text = font-size: 10px;
			.letras{

				margin-right: 50rem;
				postition:styvki;
				z-index:3000
				display:none2;
				box-sizing: border-box;
				diplay:none;
				position: relative;
				border-box;
				padding:. 0 1.5rem;
				font-size: 1rem;
				color: #545454
			}
		
		
		*/
	  }

  }
  @media screen and (min-width: 100px) and (max-width: 699px) { 
	.oculto{
		display: none;
	}
	.letras{
		font-size: 10px;
	}
	.contenidoprincipal{
		width: 87%;
		margin-left: 3em;
		margin-right: 50rem;
		/* background-color: rgb(0, 255, 68); */
	  }
	  .navprincipal:hover{
		position:sticky;
		z-index:3000;
	}

  }

  .swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0,100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1rem;
}
.swal-height {
	height: 80vh;
  }



  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');




  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}