.myCard {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
}


.myCard::-webkit-scrollbar {
    width: 0.8rem;
}


.myCard::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(31, 29, 29, 1) 0%, rgba(75, 75, 75, 1) 100%);
    border-radius: 1rem;
}

.myCard::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.myCard::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(61deg, rgba(128, 133, 133, 1) 0%, rgb(88, 88, 87) 100%);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.myCard::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 1rem;
}

.myCard::-webkit-scrollbar-track:hover,
.myCard::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.ColTools{
    width: 30rem;
}

.MyContainerPanel{
    padding: 1rem;
    width: 100vh;
    height:100%;
}

.MySearcher{
    padding: 1rem;
    width: 100%;
    margin: 0%;
}

.myListClients{
    overflow: auto;
    height: calc(100vh - 20rem);
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.myListClients .list-group-item:hover{
    background-color: #c2c2c2;
}

.myListClients::-webkit-scrollbar {
    width: 0.8rem;
}

.myListClients::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(53, 53, 53) 0%, rgba(75, 75, 75, 1) 100%);
    border-radius: 1rem;
}

.myListClients::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.myListClients::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(61deg, rgba(128, 133, 133, 1) 0%, rgb(88, 88, 87) 100%);
    box-shadow: 0 0 2px 1px rgba(22, 22, 22, 0.2);
}

.myListClients::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 1rem;
}

.myListClients::-webkit-scrollbar-track:hover,
.myListClients::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

