<!-- <div class="myCard">
    <div class="row">
        <div class="ColTools">
            <div class="MySearcher">
                <div class="card text-center" style="background-color: rgb(49, 49, 49); color: white;">
                    <div class="card-body">
                        <div class="col">
                            <div class="row">
                                <label for="title">FILTRO</label>
                            </div>
                            <div class="row" style="padding: 1rem;">
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Actual
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                          <li><a class="dropdown-item active">Action</a></li>
                                        </ul>
                                      </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-success">Exportar Excel</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1">
                                  </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <li class="list-group-item active" aria-current="true">CIBERS</li>
                                    <ul class="list-group myListClients">
                                            <li class="list-group-item">A second item</li>
                                            <li class="list-group-item">A third item</li>
                                            <li class="list-group-item">A fourth item</li>
                                            <li class="list-group-item">And a fifth one</li>
                                            <li class="list-group-item">A second item</li>
                                            <li class="list-group-item">A third item</li>
                                            <li class="list-group-item">A fourth item</li>
                                            <li class="list-group-item">And a fifth one</li>
                                            <li class="list-group-item">A second item</li>
                                            <li class="list-group-item">A third item</li>
                                            <li class="list-group-item">A fourth item</li>
                                            <li class="list-group-item">And a fifth one</li>
                                            <li class="list-group-item">A second item</li>
                                            <li class="list-group-item">A third item</li>
                                            <li class="list-group-item">A fourth item</li>
                                            <li class="list-group-item">And a fifth one</li>
                                            <li class="list-group-item">A third item</li>
                                            <li class="list-group-item">A fourth item</li>
                                            <li class="list-group-item">And a fifth one</li>
                                            <li class="list-group-item">A third item</li>
                                            <li class="list-group-item">A fourth item</li>
                                            <li class="list-group-item">And a fifth one</li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="MyContainerPanel">
                <div class="card" style="background-color: rgb(245, 241, 237);">
                    <div class="card-body">
                        <p>SELECCIONA UN CIBER</p>
                        <p>Para Visualizar Detalles Debes De Seleccionar El Ciber/Cliente Primero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
